* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none; /* Oculta la scrollbar*/
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.7em;
}

h3 {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

ul {
  list-style: none;
}

#galeria {
  display: flex;
  width: 600px;
  height: 430px;
}

#galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}

#galeria img:hover {
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

button {
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: black;
}

button:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: auto;
}

header {
  background-color: black;
  color: white;
}

header a #logo {
  width: 120px;
  margin: 0;
  padding: 12px 15px 9px 15px;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header nav a {
  color: white;
  text-decoration: none;
  padding: 7px;
}

header nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding: 12px 10px;
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 95vh;
  color: white;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url("media/Ballester\ Detail.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#sobre-nosotros {
  height: 100vh;
  background-color: black;
}

#sobre-nosotros .container {
  text-align: center;
  padding: 200px 40px;
  color: white;
}

#packs {
  height: 100vh;
}

#packs .container {
  text-align: center;
}

#packs p {
  display: none;
}
